<Files .git>
    Require all denied
</Files>

<Files .github>
    Require all denied
</Files>

<Files .gitignore>
    Require all denied
</Files>

<Files .htaccess>
    Require all denied
</Files>

<If "%{REQUEST_URI} =~ m#(?:^|/)(attachments|bugs-html|original-bugs-html)(?:/|$)#">
    Require all denied
</If>

<Files LICENSE.txt>
    Require all denied
</Files>

<Files README.md>
    Require all denied
</Files>

<Files make_bugzilla_static_readonly.pl>
    Require all denied
</Files>

<Files template.html>
    Require all denied
</Files>
